In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

C:\Users\Acer\AppData\Local\Temp\ipykernel_1464\426100267.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
cut=pd.read_csv('C:/Users/Acer/OneDrive/Documents/Assignments/Ass-3_Hypothsis/Cutlets.csv')
cut.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [8]:
# H0 = There is no difference between diameter of cutlets
# H1 = There is a difference between diameter of cutlets

In [9]:
unitA=pd.Series(cut.iloc[:,0])
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [10]:
unitB=pd.Series(cut.iloc[:,1])
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [14]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

TtestResult(statistic=0.7228688704678063, pvalue=0.47223947245995, df=68.0)

In [13]:
import scipy.stats as stats

In [15]:
p_value[1]

0.47223947245995

In [ ]:
# As our p_value value is less than alpha So we reject the null hypothesis
# So there is a difference between diameter of cutlets between two units